:root {
	--color-bg: #383d40;
	--color-fg: #f4f5e9;
	--color-blue: #3e87c3;
	--color-green: #43b9a2;
	--color-red: #e74e36;
	--color-text: #f4f5e9;
	--color-element-bg: hsl(203, 7%, 20%);
	font-family: Poppins system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: var(--color-fg);
	background-color: var(--color-bg);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
/* *,
*::before,
*::after {
	outline: 1px, solid red;
} */
a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

/* @media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
} */
